<%- include('partials/header') %>

    <main>
        <div class="relative h-screen">
            <div class="absolute inset-0 w-full h-full bg-cover bg-center"style="background-image: url(<%= movie.backdrop_path ? 'https://image.tmdb.org/t/p/original' + movie.backdrop_path : '/images/no-poster.svg' %>);">
            </div>
            <div class="absolute inset-0 w-full h-full bg-black/80"></div>
            <div class="absolute inset-0 w-full h-full flex p-8">
                <div class="w-1/3 h-full overflow-hidden rounded-lg shadow-2xl ring-1 ring-white/20">
                    <img class="h-full w-full object-cover" src="<%= movie.poster_path ? 'https://image.tmdb.org/t/p/original' + movie.poster_path : '/images/no-poster.svg'%>" alt="Movie Poster">
                </div>
                <div class="w-2/3 text-white">
                    <h1 class="text-white text-2xl font-bold"><%= movie.title %></h1>
                    <p>Рейтинг: <%= movie.vote_average %></p>
                    <p>Жанр: <%= movie.genres.map(genre => genre.name).join(', ') %></p>
                    <p>Рік: <%= movie.release_date.split('-')[0] %>. Тривалість <%= movie.runtime %> хв. Статус: <%= movie.status %></p>
                    <p><%= movie.overview %></p>
                </div>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>